  <!-- Hero Section -->
  {% load static %}
    <section id="hero" class="hero section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content">
              <h1 data-aos="fade-up" data-aos-delay="200">{{ h.title }}</h1>
              <p data-aos="fade-up" data-aos-delay="300">{{ h.description }}</p>
              <div class="hero-cta" data-aos="fade-up" data-aos-delay="400">

              </div>
              <div class="hero-stats" data-aos="fade-up" data-aos-delay="500">
                <div class="stat-item">
                  <div class="stat-number">500+</div>
                  <div class="stat-label">Bir aydin' ishinde satiliwlar sani</div>
                </div>
                <div class="stat-item">
                  <div class="stat-number">98%</div>
                  <div class="stat-label">Klienlerimizdin' bonus utip aliw ameliyati</div>
                </div>
                <div class="stat-item">
                  <div class="stat-number">10+</div>
                  <div class="stat-label">Jil No'kiste islep bariw</div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="hero-image" data-aos="fade-left" data-aos-delay="300">
              <img src="{{ h.hero_image.url }}" alt="Business Success" class="img-fluid">
              <

              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->