{% load static %}
    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Team</span>
        <h2>Наша команда😒</h2>
        <p>Команда «Берекет Строй» — это сплочённый коллектив специалистов, которые занимаются строительством и ремонтом объектов различного уровня сложности. В работе они делают упор на качество, надёжность и соблюдение сроков.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-5">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/person/person-m-8.webp' %}" class="img-fluid" alt="Sarah Johnson" loading="lazy">
              </div>
              <div class="member-info">
                <h4>Жасур Турсынбаев</h4>
                <span>CTelegram-бот разработчик</span>
                <p>IT-фрилансер из Беруния, занимается автоматизацией бизнеса через Telegram-ботов, разрабатывает решения под заказ.</p>
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                  <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="250">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/person/person-f-6.webp' %}" class="img-fluid" alt="Michael Chen" loading="lazy">
              </div>
              <div class="member-info">
                <h4>Алия Кыдырбаева</h4>
                <span>UI/UX дизайнер</span>
                <p>дизайнер из Нукуса, создает интерфейсы мобильных приложений и сайтов, работает с международными заказчиками и ведет проекты от идеи до прототипа.</p>
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                  <a href="#"><i class="bi bi-github"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/person-m-7.webp' %}" class="img-fluid" alt="Emily Rodriguez" loading="lazy">
              </div>
              <div class="member-info">
                <h4>Азамат Сапаров</h4>
                <span>Backend-разработчик</span>
                <p>разработчик из Ходжейли, занимается серверной частью приложений, имеет опыт создания API и работы с базами данных, работает удаленно с клиентами</p>
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                  <a href="#"><i class="bi bi-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->
      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="350">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/person-m-12.webp' %}" class="img-fluid" alt="David Thompson" loading="lazy">
              </div>
              <div class="member-info">
                <h4>Ерназар Алакоз</h4>
                <span>Frontend-разработчик</span>
                <p>фрилансер из Нукуса, работает в IT с 2022 года, выполняет проекты для зарубежных заказчиков, специализируется на создании современных сайтов и интерфейсов</p>
                <div class="social">
                  <a href="#"><i class="bi bi-twitter-x"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                  <a href="#"><i class="bi bi-facebook"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Team Section -->